<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Brightest Castle - Red Coverall</title>
</head>
<body>
	<h1>Brightest Castle</h1>
	<p><strong>Name:</strong> <span th:text="${chara.name}"></span></p>
	<p><strong>Job:</strong> <span th:text="${chara.job}"></span></p>
	<p><strong>CON:</strong> <span th:text="${chara.CON}"></span></p>
	<p><strong>STR:</strong> <span th:text="${chara.STR}"></span></p>
	<p><strong>VIG:</strong> <span th:text="${chara.VIG}"></span></p>
	<a href="/map"><button>Start Adventure!</button></a>
</body>
</html>